html,
body {
    /* 此段語法表示讓返回頁頂的速度更滑順，產生些微動畫回朔 */
	scroll-behavior: smooth;
}
body{
    /* 引入網頁圖片來源 */
    background-image:url(https://p2.bahamut.com.tw/B/2KU/52/dbf0addf0293f430426c08997314nuo5.JPG);
    margin: 0px;
    background-size:100%;
    background-repeat: no-repeat;
}
.ad{
    z-index:99;
    position: absolute;
    display: inline-flex;
    object-fit: contain;
    margin-top:100px;
    margin-left:250px;
    text-align: center;
    opacity:0;
    animation-name:fadenum;
    animation-duration:3s;
}
@media(max-width:1200px){
    .ad{
        width: 100%;
        margin-left: auto;
        margin-right: 100%;
    }
}
/* @keyframes fadenum{
    0%{opacity:1;}
    99%{opacity:1;}
    100%{opacity:0;}
} */
@keyframes fadenum{
    0%{opacity:1;}
    5%{opacity:1;}
    10%{opacity:1;}
    15%{opacity:1;}
    20%{opacity:1;}
    25%{opacity:1;}
    30%{opacity:1;}
    35%{opacity:1;}
    40%{opacity:1;}
    45%{opacity:1;}
    50%{opacity:1;}
    100%{opacity:0;}
}
.rotated{
    position: absolute;
    border-radius: 270px;
    /* 讓圖片去背 */
    /* mix-blend-mode: multiply; */
    width: 150px;
    margin-left: 50px;
    margin-top: 30px;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@media(max-width:800px){
    .rotated{
        width: 70px;
    }
}
.text_style{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.chara_list1{
    z-index: 1;
    position: absolute;
    display: inline-flex;
    width: 100px;
    object-fit: contain;
    margin-top:880px;
    margin-left:30px;
    margin-right:auto;
    text-align: center;
    mix-blend-mode: multiply;
}
@media(min-width:277px){
    .chara_list1{
        width: 8%;
        margin-top: 53%;
        display: none;
    }
}
.chara_list2{
    z-index: 99;
    position: absolute;
    display: inline-flex;
    width: 100px;
    object-fit: contain;
    margin-top:750px;
    margin-left:1250px;
    margin-right:auto;
    text-align: center;
    mix-blend-mode: multiply;
}
@media(min-width:277px){
    .chara_list2{
        display: none;
    }
}
.chara_list3{
    z-index: 99;
    position: absolute;
    display: inline-flex;
    width: 100px;
    object-fit: contain;
    margin-top:750px;
    margin-left:1140px;
    margin-right:auto;
    text-align: center;
    mix-blend-mode: multiply;
}
@media(min-width:277px){
    .chara_list3{
        display: none;
    }
}
.chara_list4{
    z-index: 99;
    position: absolute;
    display: inline-flex;
    width: 100px;
    object-fit: contain;
    margin-top:1180px;
    margin-left:100px;
    margin-right:auto;
    text-align: center;
    mix-blend-mode: multiply;
}
@media(min-width:277px){
    .chara_list4{
        display: none;
        width: 8%;
        margin-top: 53%;
    }
}
.chara_list5{
    z-index: 99;
    position: absolute;
    display: inline-flex;
    width: 100px;
    object-fit: contain;
    margin-top:1150px;
    margin-left:1280px;
    margin-right:auto;
    text-align: center;
    mix-blend-mode: multiply;
}
@media(min-width:277px){
    .chara_list5{
        display: none;
    }
}
/* .pic1{
    background-image: url(/測試用版本/img/test_img.jpg);
    position: absolute;
    display: inline-flex;
    border: 5px solid white;
    border-radius: 20px;
	box-shadow: 0 0 10px rgb(84, 84, 84);
    width: 600px;
    height:600px;
    object-fit: contain;
    font-size: 40px;
    line-height: 50px;
    margin-top:100px;
    margin-left:20px;
    margin-right:auto;
    text-align: center;
    animation-name:pic_1;
    animation-duration:1.2s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
    @keyframes pic_1{
 0%{
right:1800px
    }
 100%{
right:800px;
    }
} */
/* .pic2{
    background-image: url(https://yurucamp-v.com/zh-hant/image/mv02.jpg);
    position: absolute;
    display: inline-flex;
    border: 5px solid white;
    border-radius: 20px;
	box-shadow: 0 0 10px rgb(84, 84, 84);
    width: 300px;
    height:300px;
    object-fit: contain;
    font-size: 40px;
    line-height: 50px;
    margin-top:380px;
    margin-left:400px;
    margin-right:400px;
    text-align: center;
    animation-name:pic_2;
    animation-duration:1.2s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
    @keyframes pic_2{
 0%{
right:1800px
    }
 100%{
right:620px;
    }
} */
.logo{
    position: relative;
    z-index: 0;
    background-position: right;
    display: block;
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Yuru_Camp_Heya_logo.svg/1200px-Yuru_Camp_Heya_logo.svg.png); */
    /* background-size: contain; */
    /* width: 900px;
    height: 120px; */
    margin-left: 70%;
    margin-top: 10px;
    /* overflow:hidden; */
    /* text-align:left; */
    font-size: 100px;
    /* line-height: 120px; */
    background-size: 10%;
    animation-name:logo;
    animation-duration:1.2s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
@media(min-width:200px){
    .logo{
        width: 100px;
        margin-left:1000px;
    }
}
.menu1{
    position: absolute;
    display: inline-block;
    border-width: 4px;
    border-style: solid; 
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: rgb(147, 203, 217);
    text-align: right;
    line-height: 50px;
    margin-right: 10px;
    padding-right: 5px;
    animation-name:yuru1;
    animation-duration:1.2s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
.menu1 a:hover{
    color:rgb(147, 203, 217);
    background-color: #fff;
    padding: 10px 0px 10px 20px;
}
.menu2{
    position: absolute;
    border-width: 4px;
    border-style: solid; 
    /* 設置左邊框線條 */
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: rgb(147, 203, 217);
    text-align: right;
    line-height: 50px;
    margin-top: 50px;
    margin-left: 1230px;
    margin-right: 10px;
    padding-right: 5px;
    /* 改變寬高的影響範圍 */
    /* box-sizing: border-box; */
    /* 動畫效果設定 */
    animation-name:yuru2;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
.menu2 a:hover{
    color:rgb(147, 203, 217);
    background-color: #fff;
    padding: 10px 0px 10px 20px;
}
.menu3{
    position: absolute;
    border-width: 4px;
    border-style: solid; 
    /* 設置左邊框線條 */
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: rgb(147, 203, 217);
    text-align: right;
    line-height: 50px;
    margin-top: 100px;
    margin-left: 1230px;
    margin-right: 10px;
    padding-right: 5px;
    /* 改變寬高的影響範圍 */
    /* box-sizing: border-box; */
    /* 動畫效果設定 */
    animation-name:yuru3;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
.menu3 a:hover{
    color:rgb(147, 203, 217);
    background-color: #fff;
    padding: 10px 0px 10px 20px;
}
.menu4{
    position: absolute;
    border-width: 4px;
    border-style: solid; 
    /* 設置左邊框線條 */
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    background: rgb(147, 203, 217);
    text-align: right;
    line-height: 50px;
    margin-top: 150px;
    margin-left: 1230px;
    margin-right: 10px;
    padding-right: 5px;
    /* 改變寬高的影響範圍 */
    /* box-sizing: border-box; */
    /* 動畫效果設定 */
    animation-name:yuru4;
    animation-duration:0.6s;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}
.menu4 a:hover{
    color:rgb(147, 203, 217);
    background-color: #fff;
    padding: 10px 0px 10px 20px;
}
    @keyframes yuru1{
 0%{
    right:-200px
    }
 100%{
    right:-10px;
    }
}
    @keyframes yuru2{
 0%{
    right:-200px
    }
 100%{
    right:-10px;
    }
}
    @keyframes yuru3{
 0%{
    right:-200px
    }
 100%{
    right:-10px;
    }
}
    @keyframes yuru4{
 0%{
    right:-200px
    }
 100%{
    right:-10px;
    }
}
.content{
    position: relative;
    width:1440px;
    margin-top: 50%;
}
@media(max-width:1400px){
    .content{
        z-index: -1;
        width: 540px;
        margin-top: 30%;
    }
}
.pv_video{
    position: absolute;
    margin-top:100%;
    margin-left: auto;
    margin-right:auto;
    right: 0px;
}
@media(max-width:1200px){
    .pv_video{
        width: 100%;
        margin-top: -250px;
    }
}
/* return top */
#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(147, 203, 217);
    color: white;
    cursor: pointer;
    padding: 3px 3px 3px 3px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    font-size: 1px;
    }
#btnTop:hover {
    color:rgb(147, 203, 217);
    background-color: pink;
    }

    /* Equal to rotateZ(xdeg) */
.top {
    transform: rotate(90deg);
     
    width: 30px;
    height: 30px;
    opacity: 0.6;
    } 

footer {
    display:block;
    position:absolute;
    justify-content: center;
    top: 2400px;
    right: 1px;
    padding:0px 495px 0px 495px ;
    background-color: #fff;
    color: gray;
        }
@media(max-width:1280px){
    footer{
        bottom: 0;
        padding-left: 0;
        padding-right: 70px;
        font-size: 14px;
    }
}